In [1]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

athlete_events = pd.read_csv("athlete_events.csv")
noc_regions = pd.read_csv("noc_regions.csv")

In [2]:
summer_events = pysqldf('''SELECT
                             ID,
                             Name,
                             Sex,
                             Age,
                             Height,
                             Weight,
                             NOC,
                             Year,
                             Sport,
                             Event,
                             Medal
                           FROM
                             athlete_events
                           WHERE
                             Season = "Summer"''')

winter_events = pysqldf('''SELECT
                             ID,
                             Name,
                             Sex,
                             Age,
                             Height,
                             Weight,
                             NOC,
                             Year,
                             Sport,
                             Event,
                             Medal
                           FROM
                             athlete_events
                           WHERE
                             Season = "Winter"''')

In [3]:
summer_events

,ID,Name,Sex,Age,Height,Weight,NOC,Year,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,CHN,1992,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23.0,170.0,60.0,CHN,2012,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,NED,1932,Athletics,Athletics Women's 100 metres,None
...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,ARG,2004,Hockey,Hockey Men's Hockey,None
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,USA,1972,Football,Football Men's Football,None
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,RUS,2000,Rowing,Rowing Men's Lightweight Coxless Fours,None
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,RUS,2004,Rowing,Rowing Men's Lightweight Coxless Fours,None
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,BLR,2016,Basketball,Basketball Women's Basketball,None

In [4]:
winter_events

,ID,Name,Sex,Age,Height,Weight,NOC,Year,Sport,Event,Medal
0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988,Speed Skating,Speed Skating Women's 500 metres,None
1,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988,Speed Skating,"Speed Skating Women's 1,000 metres",None
2,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,NED,1992,Speed Skating,Speed Skating Women's 500 metres,None
3,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,NED,1992,Speed Skating,"Speed Skating Women's 1,000 metres",None
4,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,NED,1994,Speed Skating,Speed Skating Women's 500 metres,None
...,...,...,...,...,...,...,...,...,...,...,...
48559,135569,Andrzej ya,M,29.0,179.0,89.0,POL,1976,Luge,Luge Mixed (Men)'s Doubles,None
48560,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None
48561,135570,Piotr ya,M,27.0,176.0,59.0,POL,2014,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None
48562,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,POL,1998,Bobsleigh,Bobsleigh Men's Four,None
48563,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,POL,2002,Bobsleigh,Bobsleigh Men's Four,None